In [1]:
import requests, json
import pandas as pd

url = "https://www.sofascore.com/api/v1/event/12436451/lineups"

response = requests.request("GET", url)

jsondata = json.loads(response.text)

/Users/sbarrae/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
player_data = pd.DataFrame(jsondata['home']['players'])

In [3]:
player_data

,player,teamId,shirtNumber,jerseyNumber,position,substitute,statistics,captain
0,"{'name': 'Ederson', 'slug': 'ederson', 'shortN...",17,31,31,G,False,"{'totalPass': 35, 'accuratePass': 28, 'totalLo...",NaN
1,"{'name': 'Kyle Walker', 'firstName': '', 'last...",17,2,2,D,False,"{'totalPass': 72, 'accuratePass': 55, 'totalLo...",True
2,"{'name': 'Rúben Dias', 'firstName': '', 'lastN...",17,3,3,D,False,"{'totalPass': 51, 'accuratePass': 50, 'totalLo...",NaN
3,"{'name': 'Joško Gvardiol', 'slug': 'josko-gvar...",17,24,24,D,False,"{'totalPass': 47, 'accuratePass': 42, 'totalLo...",NaN
4,"{'name': 'Matheus Nunes', 'firstName': '', 'la...",17,27,27,D,False,"{'totalPass': 58, 'accuratePass': 50, 'totalLo...",NaN
5,"{'name': 'İlkay Gündoğan', 'slug': 'ilkay-gund...",17,19,19,M,False,"{'totalPass': 62, 'accuratePass': 60, 'totalLo...",NaN
6,"{'name': 'Bernardo Silva', 'slug': 'bernardo-s...",17,20,20,M,False,"{'totalPass': 14, 'accuratePass': 12, 'totalLo...",NaN
7,"{'name': 'Kevin De Bruyne', 'slug': 'kevin-de-...",17,17,17,M,False,"{'totalPass': 30, 'accuratePass': 25, 'goalAss...",NaN
8,"{'name': 'Phil Foden', 'firstName': '', 'lastN...",17,47,47,M,False,"{'totalPass': 52, 'accuratePass': 48, 'totalLo...",NaN
9,"{'name': 'Jérémy Doku', 'slug': 'jeremy-doku',...",17,11,11,M,False,"{'totalPass': 28, 'accuratePass': 22, 'goalAss...",NaN
10,"{'name': 'Erling Haaland', 'slug': 'erling-haa...",17,9,9,F,False,"{'totalPass': 12, 'accuratePass': 6, 'goalAssi...",NaN
11,"{'name': 'Mateo Kovačić', 'slug': 'mateo-kovac...",17,8,8,M,True,"{'totalPass': 27, 'accuratePass': 25, 'goalAss...",NaN
12,"{'name': 'Jack Grealish', 'firstName': '', 'la...",17,10,10,M,True,"{'totalPass': 6, 'accuratePass': 5, 'goalAssis...",NaN
13,"{'name': 'Savinho', 'slug': 'savio', 'shortNam...",17,26,26,F,True,"{'totalPass': 4, 'accuratePass': 4, 'goalAssis...",NaN
14,"{'name': 'Stefan Ortega', 'slug': 'stefan-orte...",17,18,18,G,True,{},NaN
15,"{'name': 'John Stones', 'slug': 'john-stones',...",17,5,5,D,True,{},NaN
16,"{'name': 'Jahmai Simpson-Pusey', 'firstName': ...",36544,66,66,D,True,{},NaN
17,"{'name': 'Nico O'Reilly', 'firstName': 'Nico',...",36544,75,75,M,True,{},NaN
18,"{'name': 'James McAtee', 'slug': 'james-mcatee...",17,87,87,M,True,{},NaN
19,"{'name': 'Divin Mubama', 'firstName': '', 'las...",36544,67,67,M,True,{},NaN